<div class="row">
  <div class="col-md-12">
    <form role="form" name="loginForm" ng-submit="loginCtrl.login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" ng-model="loginCtrl.user.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" ng-model="loginCtrl.user.password">
      </div>
      <div ng-show="loginCtrl.valid == false" class="alert alert-danger">
        Could not log in; please try again
      </div>
      <button class="btn btn-primary" type="submit">
        Log In
      </button>
    </form>
  </div>
</div>